1. Write a Python program which accepts the radius of a circle from the user
and compute the area.
Sample input: Enter the radius: 3
Sample output: Area of Circle is 28.59999999999

In [ ]:
pi=3.14
r=float(input('enter the radius'))
print('Area of circle is', pi*r*r)

enter the radius3
Area of circle is 28.259999999999998

2. Write a Python Program to accept the details of a student like name, roll
number and mark and display it.
Sample input: Enter the name: Anisha
Enter the roll number: 21
Enter the mark: 78
Sample output: Name: Anisha
Roll No: 21
Mark: 78

In [ ]:
name=input('enter a name')
roll_no=input('enter the roll no:')
mark=input('enter the mark')
print('Name:', name)
print('Roll no:' , roll_no)
print('Mark:', mark)

enter a nameAnisha
enter the roll no:21
enter the mark78
Name: Anisha
Roll no: 21
Mark: 78

3. Write a Python program to get the largest number from a list.
Sample input: 12, 3, 47, 10
Sample output: 47 is the largest number.

In [ ]:
a = [12,3,47,10]
large_num = 0
for i in a:
    if i > large_num:
        large_num = i
print(large_num, 'is the largest number.')

47 is the largest number.

4. Given a range of first 10 numbers, write a Python program to iterate from
start number to the end number and print the sum of the current number
and previous number.
Sample input: 1….10
Sample output: Current Number 1 Previous Number 0 Sum: 1 Current
Number 2 Previous Number 1 Sum: 3 Current Number 3 Previous
Number 2 Sum: 5… Current Number 10 Previous Number 9 Sum: 19

In [ ]:
num = list(range(11))
previousNum = 0
for i in num:
    sum = previousNum + i
    print('Current Number ' + str(i) + ' Previous Number ' + ' is ' + str(previousNum))
    previousNum=i
    print('sum is ', sum)

Current Number 0 Previous Number  is 0
sum is  0
Current Number 1 Previous Number  is 0
sum is  1
Current Number 2 Previous Number  is 1
sum is  3
Current Number 3 Previous Number  is 2
sum is  5
Current Number 4 Previous Number  is 3
sum is  7
Current Number 5 Previous Number  is 4
sum is  9
Current Number 6 Previous Number  is 5
sum is  11
Current Number 7 Previous Number  is 6
sum is  13
Current Number 8 Previous Number  is 7
sum is  15
Current Number 9 Previous Number  is 8
sum is  17
Current Number 10 Previous Number  is 9
sum is  19

5. Write a Python program to print only those numbers which are divisible
of 5.
Sample input: 10, 20,33,46,55 Sample output: 10, 20, 55

In [40]:
a=[10,20,33,46,55]
for i in a:
    if i%5==0:
           print(i)

10
20
55

6. Write a Python program to check whether a number is prime or not.
Sample input: Enter the number: 3
Sample output: 3 is a prime number

In [41]:
num=int(input('Enter the number'))
if num > 1:
    for i in range(2, num):
        if (num % i) == 0:
            print(num, "is not a prime number")
            break
    else:
        print(num, "is a prime number")
else:
    print(num, "is not a prime number")

Enter the number3
3 is a prime number

7. Write a Python program to reverse a list using for loop.
Sample input: 10,40,30,70
Sample output: 70,30,40,10

In [42]:
my_list=[10,40,30,70]
new_list=[]
for i in range(len(my_list)):
    new_list.insert(i,my_list[-1])
    my_list.pop(-1)
    print(new_list)

[70]
[70, 30]
[70, 30, 40]
[70, 30, 40, 10]

8. Write a Python program to print the following pattern.
*
**
***
****

In [43]:
rows = 4
for i in range(0, rows):
    # nested loop for each column
    for j in range(0, i + 1):
        # print star
        print("*", end=' ')
    # new line after each row
    print("\r")

*
* *
* * *
* * * *

9. Write a Python program to find the maximum of three numbers
Sample input: 34,12,7
Sample output: 34

In [35]:
def maximum(a, b, c):

    if (a >= b) and (a >= c):
        largest = a

    elif (b >= a) and (b >= c):
        largest = b
    else:
        largest = c

    return largest
a = int(input('Enter the 1st number'))
b = int(input('Enter the 2nd number'))
c = int(input('Enter the 3rd number'))
print(maximum(a, b, c))

Enter the 1st number34
Enter the 2nd number12
Enter the 3rd number7
34

In [36]:
def maximum(a,b,c):
  list = [a,b,c]
  return max(list)
a=34
b=12
c=7
print(maximum(a,b,c))

34

In [38]:
list = [34,12,7]
max(list)

34

10. Write a Python program to construct the following pattern, using a
nested for loop.
*
**
***
****
*****
****
***
**
*

In [39]:
n=5
for i in range(n):
  for j in range(i):
     print('* ', end="")
  print('')
for i in range(n, 0, -1):
  for j in range(i):
    print('* ', end="")
  print('')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*